/* common style */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}

hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

/* top players style  */
.section-title {
  color: #562eff;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  margin-top: 0;
}

.top-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  margin-bottom: 30px;
}

.players {
  display: flex;
  align-items: center;
}

.players img {
  width: 56px;
  height: 56px;
}

.player-name {
  font-size: 18px;
  margin-left: 16px;
}

/* blog section */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
}

.blog .thumbnail img {
  width: 177px;
  height: 117px;
}

.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  color: #562eff;
  text-decoration: none;
  font-size: 16px;
}

.blog-info {
  margin-left: 16px;
}

.blog-title {
  font-size: 20px;
}
